<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'school/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <td>name</td>
        <td>capacity</td>
        <td>projector</td>
        <td>reserved</td>
    </tr>
    {% for room in rooms %}
    <tr>
        <td>{{room.name}} <a href="edit/{{room.id}}" name="edytuj">⤤</a></td>
        <td>{{room.capacity}}</td>
        <td>{% if room.projector %} ✓ {% else %} ✘ {% endif %}</td>
        <td>{% if room in reservations%} X {% endif %}</td>
    </tr>
    {% endfor %}
</table>
<a href="add_room">dodaj sale</a>

</body>
</html>